{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FitTrack </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <header class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <ul>
            <li>
              <a href="{% url 'home' %}"
                >&nbsp;&nbsp;FitTrack</a
              >
            </li>
          </ul>
          <ul>

            {% if user.is_authenticated %}
            <li>
            <li><a href="{% url 'workouts_create' %}">Add Workout</a></li>
            <li><a href="{% url 'workouts_index' %}">All workouts</a></li>
            <li><a href="{% url 'recovery_index' %}">All recoveries</a></li>
            <li><a href="{% url 'recovery_create' %}">Add recoveries</a></li>


              <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
              </form>
            </li>
          {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Signup</a></li>

          {% endif %}
        </div>
      </nav>
    </header>

    <main>{% block content %} {% endblock %}</main>

    <footer>
      <div>
        All Rights Reserved, &copy; 2025 FitTrack &nbsp;
      </div>
    </footer>
  </body>
</html>
